<%- include('./partials/header')%>

<div class="ui main text container segment">
  <div class="ui huge header">Edit <%= blog.title %></div>
  <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST" class="ui form inverted">
    <div class="field">
      <label for="blog[title]">Blog Title</label>
      <input
        type="text"
        name="blog[title]"
        value="<%= blog.title %>"
        required
      />
    </div>
    <div class="field">
      <label for="blog[image]">Blog Image</label>
      <input type="text" name="blog[image]" value="<%= blog.image %>" />
    </div>
    <div class="field">
      <label for="blog[body]">Blog Content</label>
      <textarea name="blog[body]" cols="30" rows="10" required><%= blog.body %></textarea
      >
    </div>
    <button class="ui inverted primary button">Update</button>
    <a href="/blogs/<%=blog.id%>" class="ui inverted secondary button">Go Back</a>
  </form>
</div>

<%- include('./partials/footer')%>
