<%- include('./partials/header')%>

<div class="ui main container segment">
  <% blogs.forEach((blog) => { %>
  <div class="blog-post">
    <h2><%=blog.title%></h2>
    <div><%=blog.created%></div>
    <img src="<%=blog.image%>" alt="<%=blog.title%>" class="ui rounded image"/>
  </div>
  <% }) %>
</div>

<%- include('./partials/footer')%>
